html {
	height: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	position: relative;
	margin: 0;
	min-height: 100%;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
